<div align="center" style="margin-bottom: 20px; margin-top: 20px; font-size: 24px; text-decoration: underline;">
  <ion-label>
    {{ arduino != null ? arduino.nombre_arduino : ""}}
  </ion-label>
</div>

<div align="center">
  <img class="imagenArduino" src="/assets/images/arduino.png"/>
</div>

<ion-list>
  <ion-item class="listaPines" *ngFor="let estado of estadoPines">
    Pin {{ estado.num_pin }}

    <div style="margin-left: 20px;">
      <div *ngIf="estado.valor; else imagenDesactivado"> 
        <img class="imagenPinActivado" src="/assets/icon/luz_verde_icon.png" />
      </div>

      <ng-template #imagenDesactivado>
        <img class="imagenPinDesactivado" src="/assets/icon/luz_gris_icon.png" />
      </ng-template>
    </div>
  </ion-item>

</ion-list>

<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="desSeleccionarArduino(id_arduino)">Atrás</ion-button>
  </ion-buttons>
</ion-toolbar>
