<h1>Nuevo arduino</h1>

<ion-content>
  <form [formGroup]="formulario">
    <ion-item>
      <ion-input formControlName="nombre_arduino" type="text" placeholder="Nombre del Arduino"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="num_pines" placeholder="Número de pines"></ion-input>
    </ion-item>
    
    <div *ngIf="hayErrores">
      <ion-label slot="start" color="danger">*Todos los campos son obligatorios</ion-label>
    </div>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="volverListadoArduinos()">Atrás</ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button class="botonAgregar" (click)="crearArduino()">Agregar</ion-button>
      </ion-buttons>
    </ion-toolbar>

  </form>
</ion-content>


