<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <arduinos-component *ngIf="id_arduino == null" (eventoSeleccionarArduino)="onChangeArduino($event)"></arduinos-component>

  <estado-arduino *ngIf="id_arduino != null" [id_arduino]="id_arduino" (eventoDesSeleccionarArduino)="onChangeArduino($event)"></estado-arduino>
</ion-content>
